#alltabs-button { display: none !important; } 
:root {
  --toolbar-color: #FF9100 !important;
  --lwt-text-color: #FF9100 !important;
}

#TabsToolbar,
#nav-bar,
#PersonalToolbar,
#toolbar-menubar {
  color: #FF9100 !important;
}

.tab-label,
.bookmark-item,
.toolbarbutton-text,
.menu-text,
menu,
menuitem {
  color: #FF9100 !important;
}
