/*
/.config/chromium/
/.config/calibre/
/.config/transmission/
/.config/pulse/cookie
/.config/sunshine/credentials/cakey.pem
/.config/sunshine/credentials/cacert.pem
/.config/sunshine/sunshine.log
/.config/sunshine/sunshine_state.json
/.config/ibus/bus/
/.config/dconf/user
/.config/monitors.xml
/.config/evolution/
/.config/gnome-initial-setup-done
/.config/gtk-3.0/bookmarks
/.config/QtProject.conf
/.config/user-dirs.dirs
/.config/user-dirs.locale
/.mozilla/
/z_computer/etc/NetworkManager/system-connections/TPLink4_5GHz.nmconnection
/z_computer/etc/NetworkManager/system-connections/mango1004_EXT.nmconnection
/z_computer/etc/pam.d/
/z_computer/github_token.txt
/z_computer/etc/NetworkManager/system-connections/Myhome586.nmconnection
/z_computer/etc/NetworkManager/system-connections/TPLink4.nmconnection
/z_computer/etc/wireguard/vpn_nl.conf
/z_computer/etc/udev/hwdb.bin
/z_computer/etc/xdg/
/z_computer/etc/profile.d/
/z_computer/etc/security/
!/.*
!/bin/
!/z_computer/
!/z_chatgpt/
